$Secondary:#ffd166;
$Primary:#1e3888;
$Sea:#06d6a0; 
$highlighter:#073b4c;
$pink:#ef476f;
$purple:#6118de;
$offWhite:#EEF4ED;
$textMain:#1e1e1e;
body{
    color:$textMain;
}

.form-control{
    &:focus{
        border-color: rgba($Sea , 0.4)!important;
        box-shadow: 0 0 0 0.2rem rgba($Sea , 0.3) !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.menuLinks {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $purple;
    }
}