@import "../../pages/global.scss";

.navBarContainer {
    box-shadow: 0px 5px 11px 0px #c1c1c1;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    backdrop-filter: blur(20px);
}

.loginButton {
    &:hover {
        color: white;
    }

    button {
        box-shadow: -1px 3px 8px 1px #9a9a9a;
        border-radius: 30px !important;

        &:hover {
            transform: translatey(-1px);
            box-shadow: 0 6px 12px rgba(9, 30, 66, .2);
        }
    }
}