@import "../../pages/global.scss";

.slides {
    object-fit: cover;
    height: 60vh;
    width: 100%;
}
#overlay{
    position: absolute;
    height: 60vh;
    width: 100%;
    background-color:$highlighter;
    opacity: 0.21;

    z-index: 1;
}